body{
  font-size: 25px;
  font-family: Helvetica;
  image-resolution: 300px;
  text-align: center;
  background-color: white;
  background-size: cover;
}

.navbar{
  display:flex;
  flex-direction:row;
  justify-content: center;
}

.navitem{
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.imagesitetitle{
  width: 45px;
  margin: 5px;

}

.container {
    width: 425px;
}

/* resize images */
.container img {
    width: 200%;
    height: auto;
}

.sourpatch img{
    width: 20%;
    height: auto;
    padding-right: 650px;
}

.sourpatch{
  width: auto;
}

.bounce {
  animation-name: sourpatch;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 2s;
}

@keyframes sourpatch {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 30px;
  }
  100% {
    margin-top: 0px;
  }
}

@media (max-width: 1145px) {
  /* small screens */
  body {
    font-size: 25px;
  }
  .container {
    width: 300px;
  }
}

@media (max-width: 746px) {
  /* small screens */
  body {
    font-size: 15px;
  }
  .container {
    width: 100px;
  }
}
