body{
  font-size: 20px;
  font-weight: bolder;
  font-family: futura;
  image-resolution: 300px;
  max-width: 1000px
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

h1{
  text-align: center;
  font-size: 70px;
  margin: 50px;
  background-color: white;
}

.subtitle{
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

.homepage {
  background-image: url("https://i.pinimg.com/originals/47/e7/94/47e7945e4bff5a873ca0c630d7c8403c.png");
}
.products {
  background-image: url("deadpool2.png");
}
.news {
  background-image: url("deadpool1.png");
}
.explicit {
  background-image: url("deadpool3.png");
}

.navbar{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  font-variant:small-caps;
  font-weight: bolder;
  font-size: 20px;
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
  text-decoration: none;
  font-size: 40px;
}

a:hover {
  color: #c4223e;
  text-decoration-line: underline;
}

.navitem{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.imagesitetitle{
  width: 45px;
  margin: 5px;

}

.container {
  width: 425px;
}

.screenshot{
  padding-left: 650px;
}

.bags{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* resize images */
.container img {
  width: 200%;
  height: auto;
}

.sourpatch img{
  width: 20%;
  height: auto;
  padding-left: 50px;
}

.sourpatch{
  width: auto;
  text-align: left;
}

.bounce {
  animation-name: sourpatch;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 2s;
}

@keyframes sourpatch {
  0% {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  50% {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  100% {
    margin-top: 0px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1145px) {
  /* small screens */
  body {
    font-size: 25px;
  }
  .container {
    width: 300px;
  }
  a:-webkit-any-link {
    font-size: 30px;
  }
  .screenshot {
    padding-left: 200px;
  }
}

@media (max-width: 746px) {
  /* small screens */
  body {
    font-size: 15px;
  }
  .container {
    width: 100px;
  }
  .sourpatch img{
    width: 40%;
  }
  a:-webkit-any-link {
    font-size: 20px;
  }
  .screenshot {
    padding-left: 150px;
  }
}
